:root {
  --list-item-height: 2.7rem;
}

@import url("https://fonts.googleapis.com/css?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css?family=Ruda&display=swap");

.container {
  margin: 0 10px;
}

@media (min-width: 900px) {
  .container {
    max-width: 500px;
    margin: 0 auto;
  }
}

h1 {
  text-align: center;
  font-family: "Lobster", cursive;
  font-size: 2.5rem;
}

form {
  text-align: center;
  font-family: "Ruda", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

form input[type="text"] {
  margin: 0 0.8rem;
  font-family: "Ruda", sans-serif;
  height: 2.5rem;
  border-radius: 5px;
  border: 1px solid #bababa;
  padding: 0 0.5rem;
  font-size: 1rem;
}

input[type="submit"],
.clear-all-button {
  padding: 0rem 1rem;
  font-family: "Ruda", sans-serif;
  font-size: 1rem;
  border: none;
  background-color: #febe4b;
  border-radius: 3px;
  height: 2.5rem;
  cursor: pointer;
  -webkit-appearance: none;
}

@media (max-width: 500px) {
  form {
    flex-flow: column;
  }

  form input[type="text"] {
    margin: 1rem 0;
    width: 60%;
  }
}

.list-container {
  position: relative;
  margin: 2rem 0;
}

@media (max-width: 500px) {
  .list-container {
    margin: 2rem 0 1rem;
  }
}

.list-background {
  position: absolute;
  background: repeating-linear-gradient(
    #fff8df,
    #fff8df var(--list-item-height),
    #d6d6d6 calc(var(--list-item-height) + 1px)
  );
  height: 100%;
  width: 100%;
  z-index: -1;
}

.list {
  font-family: "Lobster", cursive;
  font-size: 1.3rem;
  min-height: calc((10 * (var(--list-item-height) + 1px)) + 2rem);
}

.list-item {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  min-height: calc(var(--list-item-height) + 1px);
  margin-left: 1rem;
}

.list-item button {
  padding-bottom: 0.2rem;
  background-color: initial;
  border: none;
  color: #a4a4a4;
  cursor: pointer;
}

.list-item fa-lg {
  font-size: 1.3rem;
  vertical-align: 0;
}

@media (hover: hover) and (pointer: fine) {
  .list-item button:hover {
    color: initial;
  }

  input[type="submit"]:hover,
  .clear-all-button:hover {
    background-color: #ff8e6b;
  }

  .hide-delete {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal !important;
  }
  .show-delete {
    visibility: visible;
  }
}

.list-item-text {
  cursor: pointer;
}

.checkbox label {
  display: inline-block;
  transform: rotate(45deg);
  height: 18px;
  width: 8px;
  border-bottom: 5px solid;
  border-right: 5px solid;
  margin: 0 10px;
  border-color: rgb(179, 179, 179);
  cursor: pointer;
}

.checkbox input[type="checkbox"]:checked + label {
  border-color: #78b13f;
}

.strikethrough {
  text-decoration: line-through double;
  -webkit-text-decoration: line-through double;
}

.centre {
  text-align: center;
}

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}
